*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
:root{
    --tea-green: #ccd5aeff;
    --beige: #e9edc9ff;
    --cornsilk: #fefae0ff;
    --papaya-whip: #faedcdff;
    --buff: #d4a373ff;
}
html{
    scroll-behavior: smooth;
    stroke-width: thin;
}
.main{
    max-width: 1440px;
    width: 100%;
    height: 100%;
  
    /* overflow: auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    background: #000000b6;
}
/* Estilos del boton de retorno */
.return{
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    bottom: 1em;
    width: 30px;
    height: 30px;
    z-index: 1;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    background: rgb(190, 98, 98);
    overflow: hidden;
}
.return img{
    width: 80%;
    aspect-ratio: 1/1;
}

/* Estilos de la cabecera */
.header{
    width: 99%;
    height: 100px;
    display: flex;
    align-items: center;
    background: var(--buff);
    /* position: sticky;
    top: 0; */
    z-index: 2;
    transition: all .3s ease-out;

}

.logo{
    width: 250px;
    height: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
}
.logo h1{
    font-size: 25px;
    color: var(--cornsilk);
    font-weight: bold;
}
.logo span{
    display: block;
    width: 15ch;
    overflow: hidden;
    border-right: 4px solid;
    border-color: var(--beige);
    animation: splink 2s steps(15)  alternate-reverse, opacity 1s linear infinite;
}

.nav{
    width: calc(100% - 250px);
    height: 100%;
    transition: all .2s ease-in;
    background: inherit;
}

nav.active{
    transform: translateX(0%);
}
.nav ul{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
}
.nav li{
    /* border: 1px solid; */
    min-width: 180px;
    height: 30px;
    position: relative;
}
.nav a{
    display: grid;
    place-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--cornsilk);
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    transition: all .15s ease-in;
    position: relative;
}
.nav .login{
    position: absolute;
    right: 1em;
    display: none;
}
.nav .salir{
    position: absolute;
    right: 1em;
}
.nav a:hover{
    color: var(--papaya-whip);
}

.nav li a::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0%;
    height: 100%;
    transition: all .25s ease-in;

}

.nav li a:hover::before{
    width: 30%;
    border-top: 2px solid ;
    border-bottom: 2px solid;
    border-color: var(--papaya-whip);
}


.eventos{
    display: none;
    position: relative;
}
.items-eventos{
    display: none;
    top: 63px;
    left: 30%;
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1px solid var(--beige);
    overflow: hidden;
    background: var(--cornsilk);
    animation: trasnlate .1s linear ;
    z-index: 2;
}
.items-eventos.load{display: block;}
.items-eventos a{
    width: 100%;
    height: calc(100% / 4);
    color: var(--buff);
}
.items-eventos a:hover{background: var(--tea-green); color: var(--buff);}

.hamburguesa{
    position: absolute;
    right: 1em;
    width: auto;
    height: auto;
    display: none;
}
.hamburguesa button{
    display: flex;
    flex-direction: column;
    background: transparent;
    border: none;
    cursor: pointer;
}
.hamburguesa span{
    width: 25px;
    height: 3px;
    background: var(--cornsilk);
    margin: .2em;
    transition: all .2s ease-in;
}

.hamburguesa.active span:nth-child(1){
    transform: rotate(45deg) translate(3px, 3px);

}
.hamburguesa.active span:nth-child(2){
    display: none;
}
.hamburguesa.active span:nth-child(3){
    transform: rotate(-45deg) translate(3px, -3px);
}


/* Estilos del banner */
.banner{
    width: 99%;
    height: 550px;
    /* border: 1px solid; */
    background: var(--tea-green);
    overflow: hidden;
    position: relative;
    transition: all .3s ease-out;
}


.banner .banner-container{
    width: 600%;
    height: 100%;
    display: flex;
    transition: all .3s ease-out;

}
.banner .items-banner{
    width: calc(100% / 6);
    height: 100%;
}

.banner img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.banner .botones{
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-between;
    padding: 0em .5em;
    z-index: 1;
}
.banner .botones a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height:  40px;
    border-radius: 50%;
    /* border: 1px solid rgb(32, 21, 196); */
    position: relative;
}
.banner .botones img{
    width: 70%;
    aspect-ratio: 1/1;
}
.banner a::before{
    position: absolute;
    content: "";
    width: 0%;
    height: 0%;
    border-radius: inherit;
    transition: all .2s ease-in-out;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.banner a:hover::before{
    width: 100%;
    height: 100%;
    border: 2px solid var(--buff);
}
.servicios{
    width: 99%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: var(--cornsilk);

}
.servicios h1{
    color: var(--buff);
    font-size: 30px;
    margin: 1em;
}
.servicios form{
    width: 80%;
    height: 80%;
    border: 1px solid var(--buff);
    display: grid;
    grid-template-columns: repeat(
        auto-fit,minmax(150px, 250px)
    );
    padding: 4em;
    gap: 3em;
    margin-bottom: 1em;
    background: var(--beige);
    border-radius: 2px;


}
.servicios .row{
    height: 50px;
    display: flex;
    flex-direction: column;
}
.servicios .row input, .servicios .row select{
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.199);
    text-align: center;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    background: inherit;
    color: var(--buff)
}
.servicios .row input:focus, .servicios .row select:focus{
    border-color: var(--buff);
}
.servicios .row label{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: .2em;
    color: var(--buff)

}
.servicios .row .submit{
    background: var(--buff);
    border: 1px solid var(--cornsilk);
    color: var(--cornsilk);
    cursor: pointer;
}
.loanding{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00000048;
    display: none;
    justify-content: center;
    align-items: center;
}
.loanding span{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 8px;
}
.loanding span:nth-child(1){
    animation: scale 1s linear infinite;
    background: #fff;

}
.loanding span:nth-child(2){
    animation: scale .8s linear infinite;
    background: #535252;
}
.loanding span:nth-child(3){
    animation: scale .6s linear infinite;
    background: #424141;
}
.loanding span:nth-child(4){
    animation: scale .4s linear infinite;
    background: #252525;

}
/* EStilos de la sección de contacto */
.contacto{
    width: 99%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--beige);
    overflow: hidden;
}

.contacto .mapa{
    width: 45%;
    height: 95%;
    border: 1px solid var(--buff);
    
    
}
.contacto .form{
    width: 45%;
    height: 95%;
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--buff);
    /* padding: .5em; */
    background: var(--cornsilk);
    border-radius: 2px;
    overflow: hidden;
}
.contacto iframe{
    width: 100%;
    height: 100%;
}
.contacto .row{
    width: 90%;
    height:auto;
    display: flex;
    flex-direction: column;
    margin-top: .3em;

}
.contacto .row label{
    font-size: 16px;
    font-weight: bold;
    color: var(--buff);
}
.contacto .row input{
    width: 100%;
    height: 30px;
    outline: none;
    text-align: center;
    margin-top: .3em;
    font-size: 17px;
    color: var(--buff);
    font-weight: bold;
    border: 1px solid #00000048;
}
.contacto .row input:focus, .contacto .row textarea:focus{
    border: 1px solid;
    border-color: var(--buff);
}
.contacto .submit{
    background: var(--buff);
    height: 35px !important;
    color: var(--beige) !important;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
.contacto .row textarea{
    height: 200px;
    resize: none;
    outline: none;
    padding: .4em;
    color: var(--buff);
    font-weight: bold;
    border: 1px solid #00000048;

}



/* Estilos de la seccion de equipo */
.equipo {
    background: var(--cornsilk);
    width: 99%;
    /* height: 90vh; */
    display: grid;
    grid-template-columns: repeat(
        auto-fit,minmax(300px,1fr)
    );
    gap: 10px;
    padding: 2em;
}
.equipo .items-equipo{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--papaya-whip);
}

.equipo .social{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 2px solid var(--buff);
    overflow: hidden;
    position: relative;
}
.equipo .social img{
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
}
.social .list-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 0%;
    height: 0%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    padding: 0em 1em;
    background: #00000063;
    border-radius: inherit;
    transition: all .2s ease-in;
    overflow: hidden;
}
.list-icon a{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in;
    border-radius: .3em;
}
.list-icon a:nth-child(1):hover{
    background: blue;
}
.list-icon a:nth-child(2):hover{
    background: linear-gradient(
        160deg,
        rgb(172, 7, 89),
        rgb(172, 7, 89),
        purple,
        red,
        rgb(255, 196, 0)
    )
}
.list-icon a:nth-child(3):hover{
    background:rgb(6, 168, 6);
}
.social:hover .list-icon{ width: 100%; height: 100%;}
.list-icon img{
    display: block;
    width: 25px;
    height: 25px;
}
.equipo h4{
    font-size: 20px;
    text-transform: capitalize;
}
.equipo span{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.644);
}
.equipo p{
    text-align: center;
    width: 100%;
    margin-top: 1em;
    color: #000;
}
/* Estilos del pie de pagina */


.footer{
    width: 99%;
    height: 400px;
    background: var(--buff);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer .red-social{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
.red-social .items{
    width: 35px;
    height: 35px;
    position: relative;
    border-radius: .4em;
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;

}
.red-social .items img{
    width: 70%;
    height: 70%;
    object-fit: cover;
    display: block;
}
.red-social .nombre{
    display: none;
    place-content: center;
    width: 120px;
    height: 25px;
    position: absolute;
    top: -30px;
    left: -45px;
    color: #fff;
    font-weight: bold;
    border-radius: .2em;
    animation: trasnlate .2s linear;

}
.red-social .items:hover .nombre{display: grid;}


.items:nth-child(1), .items:nth-child(1):hover .nombre{
    background: blue;
}
.items:nth-child(2), .items:nth-child(2):hover .nombre{
    background: linear-gradient(
        160deg,
        rgb(172, 7, 89),
        rgb(172, 7, 89),
        purple,
        red,
        rgb(255, 196, 0)
    )
}
.items:nth-child(3), .items:nth-child(3):hover .nombre{
    background:rgb(6, 168, 6);
}
.items:nth-child(4), .items:nth-child(4):hover .nombre{
    background:rgb(230, 2, 2);
}
.footer p{text-align: center; font-size: 16px; color: var(--cornsilk); font-weight: bold;}
/* Medidad responsivas */
/*

 movil: 320px ---> 767px
 tablet: 768px --> 1023px
 laptop 1024px

*/



@keyframes trasnlate {
    0%{transform: translateY(20px);}
}
@keyframes scale {
    0%{transform: scale(1.5);}
    25%{transform: scale(1.8);}
    50%{transform: scale(2);}
    75%{transform: scale(1.8);}
    100%{transform: scale(1.5);}
}
@keyframes opacity {
    50%{border-color: transparent;}
}
@keyframes splink {
    to{
        width: 0ch;
    }
    from{
        width: 15ch;
    }
}

@media (max-width: 1024px) {
    .header{
        width: 100% !important;
    }
    .logo{
        width: 100%;
        height: 100%;
    }
    .nav{
        position: absolute;
        top: 100px;
        transform: translateX(-100%);
        width: 100%;
        height:calc(100vh - 100px);
        border: 1px solid var(--beige);
        z-index: 1;
    }
    .nav ul{
        flex-direction: column;
        overflow: hidden;
    }
    .nav li{
        position: relative !important;
        width: 100%;
        height: 40px;
        border-radius: 0px !important;
        border: none !important;
        right: 0em !important;
        margin-top: 1em;
    }
    .nav li a::before{display: none !important;}
    .hamburguesa{
        display: block;
        z-index: 1;
    }
    .eventos .items-eventos{
        width: 60%;
    }

}

@media (max-width:920px) {
    
    .contacto{
        flex-direction: column;
        height: auto !important;
    }
    .contacto .mapa, .contacto .form{
        width: 100%;
        height: 90vh;
        overflow: auto;
    }
    .servicios form{
        width: 100%;
        height: 100%;
    }
    .servicios h1{
        font-size: 20px;
    }
    
}