*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
/* 
 */
:root{
    --tea-green: #ccd5aeff;
    --beige: #e9edc9ff;
    --cornsilk: #fefae0ff;
    --papaya-whip: #faedcdff;
    --buff: #d4a373ff;
}
html{
    scroll-behavior: smooth;
    stroke-width: thin;
}
.main{
    max-width: 1440px;
    width: 100%;
    height: 100vh;

    /* overflow: auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: relative;
    background: var(--beige);
}


/* Estilos de la cabecera */
.header{
    width: 99%;
    height: 100px;
    display: flex;
    align-items: center;
    background: var(--buff);
    /* position: sticky;
    top: 0; */
    z-index: 2;
    transition: all .3s ease-out;

}

.logo{
    width: 250px;
    height: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
}
.logo h1{
    font-size: 25px;
    color: var(--cornsilk);
    font-weight: bold;
}
.logo span{
    display: block;
    width: 15ch;
    overflow: hidden;
    border-right: 4px solid;
    border-color: var(--beige);
    animation: splink 2s steps(15)  alternate-reverse, opacity 1s linear infinite;
}

.nav{
    width: calc(100% - 250px);
    height: 100%;
    transition: all .2s ease-in;
    background: inherit;
}

nav.active{
    transform: translateX(0%);
}
.nav ul{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
}
.nav li{
    /* border: 1px solid; */
    min-width: 180px;
    height: 30px;
    position: relative;
}
.nav a{
    display: grid;
    place-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--cornsilk);
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    transition: all .15s ease-in;
    position: relative;
}
.nav .login{
    position: absolute;
    right: 1em;
    display: none;
}
.nav .salir{
    position: absolute;
    right: 1em;
}
.nav a:hover{
    color: var(--papaya-whip);
}

.nav li a::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0%;
    height: 100%;
    transition: all .25s ease-in;

}

.nav li a:hover::before{
    width: 30%;
    border-top: 2px solid ;
    border-bottom: 2px solid;
    border-color: var(--papaya-whip);
}

.form{
    width: auto;
    height: auto;
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--buff);
    padding: 1em;
    background: var(--beige);
    border-radius: 2px;
    animation: tranlate .3s linear;
}
.form:nth-child(3){display: none;}
.row{
    width: 400px;
    height:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .5em;

}
.row label{
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    color: var(--buff);
    font-weight: bold;
}
.row input{
    width: 100%;
    height: 30px;
    outline: none;
    text-align: center;
    margin-top: .3em;
    font-size: 17px;
    color: var(--buff);
    font-weight: bold;
    border: 1px solid #00000080;
    background: var(--cornsilk);
}
.submit{
    background: var(--buff) !important;
    color: var(--cornsilk) !important;
    border: none !important;
    cursor: pointer;
    font-weight: bold;
}
.row .icon-user{
    display: block;
    width: 170px;
    height: 170px;
}
.form .enlaces{
    flex-direction: row;
    justify-content: space-between;
    padding: 0em .5em;
}
.row input:focus{border-color: var(--buff);}
.row a{
    display: block;
    text-decoration: none;
    font-size: 12px;
    color:var(--buff);
    font-weight: bold;
}
.form .enlaces a:hover{opacity: .76;}
.form:nth-child(3) .row:nth-child(7){
    flex-direction: row;
    justify-content: start;
    padding: 0em .5em;
}

.mensaje{
    position: absolute;
    width: 300px;
    height: 30px;
    background: #fff;
    border-left: 1em solid green;
    display: none;
    place-content: center;
    border-radius: 4px;
    z-index: 1;
    right: 1em;
    top: 3em;
}


.hamburguesa{
    position: absolute;
    right: 1em;
    width: auto;
    height: auto;
    display: none;
}
.hamburguesa button{
    display: flex;
    flex-direction: column;
    background: transparent;
    border: none;
    cursor: pointer;
}
.hamburguesa span{
    width: 25px;
    height: 3px;
    background: var(--cornsilk);
    margin: .2em;
    transition: all .2s ease-in;
}

.hamburguesa.active span:nth-child(1){
    transform: rotate(45deg) translate(3px, 3px);

}
.hamburguesa.active span:nth-child(2){
    display: none;
}
.hamburguesa.active span:nth-child(3){
    transform: rotate(-45deg) translate(3px, -3px);
}


@keyframes tranlate {
    0%{transform: translateY(-100px);}
}
@media (max-width:920px) {
    .form{
        width: 98% !important;
        height: auto !important;
        overflow: auto;
    }
    .row{
        width: 100% !important;
    }
}

@media (max-width: 1024px) {
    .header{
        width: 100% !important;
    }
    .logo{
        width: 100%;
        height: 100%;
    }
    .nav{
        position: absolute;
        top: 100px;
        transform: translateX(-100%);
        width: 100%;
        height:calc(100vh - 100px);
        border: 1px solid var(--beige);
        z-index: 1;
    }
    .nav ul{
        flex-direction: column;
        overflow: hidden;
        justify-content: start;
    }
    .nav li{
        position: relative !important;
        width: 100%;
        height: 40px;
        border-radius: 0px !important;
        border: none !important;
        right: 0em !important;
        margin-top: 1em;
    }
    .nav li a::before{display: none !important;}
    .hamburguesa{
        display: block !important;
        z-index: 4;
    }
    

}